// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables


//===== Breakpoints :START
$xs: 500px;
$sm: 800px;
$md: 1050px;
$lg: 1400px;
$xlg: 2500px;
//===== Breakpoints :END

//===== dimensions :START
$max_width_lg: 960px;
$max_width_md: 800px;
$max_width_sm: 630px;
$max_width_xs: 520px;
$max_width_xxs: 370px;
//===== dimensions :END

//===== Colors :START
$color_gold: #bf9745;
$color_green_light: #75c997;
$color_blue: #4e99d3;
$color_blue_dark: #194162;
$color_text: #555;


//===== Colors :END
