//==============================
//Farsi Fonts :START
//==============================
	@include font-face('IRANSans','static/fonts/IRANSansWeb');


//==============================
//Farsi Fonts :END
//==============================

// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles


%body-fa {
  font: normal normal 14px/1.7 'IRANSans', 'Tahoma', 'Arial';
  direction: rtl;
}
%title_level_1 {
  font: .9em 'Open Sans', tahoma, arial;

  @include mq_max($sm) {font-size: 1.8em;}
  @include mq_max($xs) {font-size: 1.4em;}
}



//font icon
	@include font-face('icomoon','static/fonts/icomoon');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-error{
	font-size: 42px;
	&:before {
	  content: "\e90c";
	  color: #f05228;
	}
}

.icon-success{
	font-size: 42px;
 &:before {
   content: "\e90b";
   color: #6ac259;
 }
}
.icon-heart:after {
  content: "\e909";
  color: rgb(230, 86, 58);
}

.icon_minus:before {
  content: "\e908";
}
.icon_cancel2:before {
  content: "\e905";
	color:#ebb78d;
}
.icon_check:before {
  content: "\e906";
	color:#89c06d;
}
.icon_eye:before {
  content: "\e907";
	color:#63ade0;
}
.icon-cancel:after {
  content: "\e904";
  color: #fff	;
	.ReactModal__Content &{
		color: #4e99d3;
	}
}
.icon-cancel3:after {
  content: "\e904";
  color: #4e99d3	;
}

.icon-edit:before {
  content: "\e902";
	color: #8a8a8a;
	margin: 0 5px;
	.graph &{
		margin: 0 1px;
	}
}
.icon-delete:before {
  content: "\e903";
  color: #ababab;
	margin: 0 5px;
}
.icon-plus:before{
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
