.avlbe-service{
background-color: #fff;
// box-shadow: 0px 0.5px 25px 0px rgba(0,0,0,1);
margin:10px 10px;
padding: 10px 20px;
height: 365px;

&__item-box{
  display: flex;
  margin-bottom: 15px;
  &:first-child{

    color:inherit!important;
  }
  &:last-child{
    margin-bottom: 0;
    color:#d2b675!important;
  }
  &:nth-child(2n){
    color:#1793cf;
  }
  &:nth-child(2n+1){
    color:#685573;
  }
}
&__name ,&__number{
  flex: 1
}
&__number{
  text-align: left;
}


}
