// - - - - - - - - - - - - - - - - - - -
// - - btn module
// styles for the btn module
.btn{
  background-color: $color_blue_dark;
  color: #fff;
  padding: 10px 30px;
  opacity: 1;
  transition: all 0.3s ;
  &:hover{
    opacity: 0.8;
  }
  >i{
    display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  }
  &__plus{
    color: #fff;
background-color: #4e99d3;
padding: 8px;
  }
}
